
p{
    margin-bottom: 0;
}
/*Layout*/

/* NAVBAR*/
.page-header{
    height: 80px;
    background-color: #F7F8F9;
    padding-top: 15px;
}
.my-mobile-logo{
    width: 50px;
}

/* MAIN */
.wrapper{
    height: calc(100vh - 80px);
    display: flex;
    border: 2px dashed red;
}

.sidebar{
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-basis: 60px;
}


main{
    flex-grow: 1;
    background-color: white;
    overflow: auto;
}
.main-header{
    min-height: 100px;
    background-color: rgb(27, 114, 232);
}

.my-table-font{
    font-size: 15px;
    font-weight: 400;
}

.class-logo{
    display: inline-block;
    height: 25px;
    width: 25px;
    background-image: url(../img/class-avatar.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-top: -3px;
    margin-right: 5px;
}

.my-square{
    border: 1px solid #E5E6E8;
    width: 25px;
    display: block;
    text-align: center;
}







@media screen and (min-width:992px){
    .sidebar{
        flex-basis: 100px;
    }
}