.wrapper{
    height: 100vh;
    border: 2px dashed red;
}


/*Layout*/

/* NAVBAR*/
.navbar{
}

.my-mobile-logo{
    width: 50px;
}




/* SIDEBAR */
.sidebar{
    background-image: url(/img/sidebar-bg.png);
    overflow: hidden;
}

