*{
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    height: 100vh;
    border: 2px dashed red;
}

p{
    margin-bottom: 0;
}
/*Layout*/

/* NAVBAR*/
.navbar{
}

.my-mobile-logo{
    width: 50px;
}




/* SIDEBAR */
.sidebar{
    overflow: hidden;
    background-image: url(../img/sidebar-bg.png);
}

